.profile__name {
  max-width: 80%;
  margin: 0 0 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: calc((100vw - 320px) / (1280 - 320) * (42 - 27) + 27px);
  font-weight: 500;
  line-height: calc((100vw - 320px) / (1280 - 320) * (48 - 32) + 32px);
}

@media screen and (min-width: 1280px) {
  .profile__name {
    font-size: 42px;
    line-height: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .profile__name {
    max-width: 75%;
    margin: 0 0 5px 30px;
  }
}
