.elements {
  width: calc((100vw - 320px) / (1280 - 320) * (880 - 320) + 300px);
  margin: calc((100vw - 320px) / (1280 - 320) * (51 - 36) + 36px) auto calc((100vw - 320px) / (1280 - 320) * (66 - 48) + 48px);
}

@media screen and (min-width: 1280px) {
  .elements {
    width: 880px;
    margin: 51px auto 66px;
  }
}
