.footer {
  box-sizing: border-box;
  width: calc((100vw - 320px) / (1280 - 320) * (880 - 320) + 300px);
  margin: 0 auto calc((100vw - 320px) / (1280 - 320) * (60 - 36) + 36px);
  padding-left: calc((100vw - 320px) / (1280 - 320) * (0 - 19) + 19px);
}

@media screen and (min-width: 1280px) {
  .footer {
    width: 880px;
    margin: 0 auto 60px;
  }
}
