.header {
  width: calc((100vw - 320px) / (1280 - 320) * (880 - 320) + 300px);
  margin: calc((100vw - 320px) / (1280 - 320) * (45 - 28) + 28px) auto 0;
  padding-bottom: calc((100vw - 320px) / (1280 - 320) * (35 - 30) + 28px);
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (min-width: 1280px) {
  .header {
    width: 880px;
    margin: 45px auto 0;
    padding-bottom: 37px;
  }
}
